<h1>Tools</h1>

<table>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td class='row_title'><%= link_to tool.name, tool %></td>
        <td>[<%= link_to 'Edit', edit_tool_path(tool) %>]  [<%= link_to 'Delete', tool, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Tool!', new_drank_book_path %>
