body {
  background-color: #fff;
  color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
  &:visited {
    color: #000000;
  }
  &:hover {
    color: #00a7ad;
  }
}

.h1_title {
  font-family: Futura, sans-serif;
  font-size: 45px;
}

h1 {
  font-family: Futura, sans-serif;
}

h2 {
  font-family: "Century Schoolbook", Georgia, serif;
  font-size: 20px;
  font-weight: normal;
}

.header {
  position: fixed;
  top: 0;
  width: 800px;
  padding-left: 20px;
  height: 110px;
  z-index: 2;
  background-color: white;
}

.container {
  margin-top: 60px;
  background-color:rgba(255, 255, 255, 0.5);
  display: block;
}

#drinkbook_link {
  position: fixed;
  margin-top: 410px;
  margin-left: 178px;
}

#ingredient_link {
  position: fixed;
  margin-top: 385px;
  margin-left: 435px;
}

#recipe_link {
  position: fixed;
  margin-top: 245px;
  margin-left: 285px;
}

#tool_link {
  position: fixed;
  margin-top: 280px;
  margin-left: 510px;
}

#search_link {
  position: fixed;
  margin-top: 250px;
  margin-left: 635px;
}

img {
  margin-top: 60px;
  position: fixed;
}
.row_title {
  font-size: 20px
}

.line_menu {
  padding-left: 390px;
  padding-top: 10px;
  padding-bottom: 5px;
  top: 110px;
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 100%;
}

.container {
  margin-top: 150px;
  margin-left: 20px;
  margin-bottom: 40px;
}

td {
  padding:10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
