<!DOCTYPE html>

<html>

<head>
  <title>Git Your Drank On!!!!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="header">
    <h2><em>Don't commit....</em></h2>
    <h1 class="h1_title"><a href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GIT YOUR DRANK ON!!!!</a></h1>
  </div>

  <img src="/assets/cocktails.jpg"></img>

  <div class="menu">
    <a id="drinkbook_link" href="/drank_books">Drinkbooks</a>
    <a id="recipe_link" href="/recipes">Recipes</a>
    <a id="ingredient_link" href="/ingredients">Ingredients</a>
    <a id="tool_link" href="/tools">Tools</a>
  </div>
</body>

</html>
