<h1>Ingredients</h1>

<table>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td class='row_title'><%= link_to ingredient.name, ingredient %></td>
        <td>[<%= link_to 'Edit', edit_ingredient_path(ingredient) %>] [<%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Ingredient!', new_ingredient_path %>
